// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/getting-started/getting-started";

@import "../pages/list/list";
//pages
@import "../pages/newsletter-view/newsletter-view";
@import "../pages/newsletter/newsletter";

//components
@import "../components/card-image-header/card-image-header";

//disable hover opacity as the hover state for elements interaction with touch events is bad
// causes clicked/touched elements in device to have a lingering hover state
.enable-hover a:hover{
  opacity: 1;
}

/**
*   manual global theme override
*     should be declare here to override all components
**/
.tab-button,
.tab-button[aria-selected=true] {
  color: color($colors, light);
}

.tab-button[aria-selected=true] {
  opacity: 1;
}

